{% extends "myblog/base.html" %}

{% block title %}Blog{% endblock %}

        
{% block content %}
    <div class="content">
        <h1>
            Latest Posts
        </h1>
        <p>
            {% for post in posts %}
                <ul class="post">
                    <h2 class="post-title">
                        <a href="{% url 'post_detail' id=post.id %}">{{ post.title }}</a>
                    </h2>
                    <p class="post-meta"> Created by: {{ post.author }} </p>
                    <p class="post-meta"> Created at: {{ post.created_at }}</p>
                </ul>
            {% endfor %}
        </p>
    </div>
{% endblock %}




